port={{http_port}}
message=Done by Ansible
name={{student_first_name}} {{student_last_name}}
logo_url=https://playpit-labs-assets.s3-eu-west-1.amazonaws.com/images/Ansible_logo.svg.png
logo_height=60
